<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=no">
		<title>Inicio</title>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" th:href="@{/css/estilos.css}">		
	</head>
	
	<body>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		
		<header id="encabezado">
			<h3 class="eslogan">Aprender es como remar contra corriente: en cuanto se deja, se retrocede</h3>
			<h1 class="titulo">Facultad de Ingenieria</h1>

		</header>
		
		<nav class="navegacion">
			<ul class="lista">
				<li class="punto"><a class="letra" href="#inicio">Inicio</a></li>
				<li class="punto"><a class="letra" href="#acerca">Acerca de</a></li>
				<li class="punto"><a class="letra" href="#">Carreras</a></li>
				<li class="punto"><a class="letra" href="#noticia">Noticias</a></li>
				<li class="punto"><a class="letra" href="#infoContato">Contacto</a></li>
			</ul>
		</nav>
		
		<div class="contenido">
		<section id="inicio" class="incio">
			<h2>Historia</h2>
			<p>La Facultad de Ingeniería inició sus actividades el 24 de mayo de 1972, en el edificio ubicado en la calle Gorriti N° 237 con las carreras de Agronomía, Ingeniería Química, Ingeniería en Minas e Ingeniería Metalúrgica, y José Antonio Casas fue su primer Decano, cuando pertenecía a la entonces Universidad Provincial de Jujuy. En la actualidad, la Facultad de Ingeniería de la UNJu, cuenta con siete carreras de grado, seis de pregrado y seis de posgrado; que, además, a través de sus Extensiones Áulicas, se encuentra dictando la carrera de Analista Programador Universitario en las localidades de San Pedro de Jujuy y La Quiaca, y el primer año de las carreras de Ingeniería Informática, Industrial, Química y de Minas en la ciudad de Libertador General San Martín.

Las Autoridades de la Facultad de Ingeniería de la UNJu que organizaron y formaron parte del Acto de Celebración fueron el decano, Mg. Ing. Gustavo Alberto Lores; el vicedecano, Ing. Luis Alejandro Vargas; secretaria Académica Ing. Graciela Lazarte; secretaría de Ciencia y Técnica, Dra. Julia Santapaola; secretaria Administrativa, Esp. Lic. Estefanía González; y el secretario de Extensión, Coordinación y Planificación, Ing. Julio Tentor.</p>
		</section>
		
		<section id0"acerca" class="acerca">
			<h2>Que es la Beca Belgrano</h2>
			<p>El Programa de Becas Estratégicas Manuel Belgrano es un sistema de becas para promover el acceso, la permanencia y la finalización de estudios de grado y pregrado en diez áreas de política pública consideradas claves para el desarrollo económico del país y la igualdad social. Tienen como principal objetivo proporcionar un incentivo económico en forma de Beca de estudio para que jóvenes provenientes de hogares de bajos ingresos realicen una carrera universitaria o una tecnicatura en una disciplina considerada estratégica para el desarrollo económico y productivo del país.

Para la renovación del beneficio el/la becario/a deberá cumplir con ciertos requisitos académicos solicitados y detallados en la plataforma de becas Manuel Belgrano, en la opción “SOBRE LA BECA”.

Así mismo se informa que el requisito académico de renovación estipulado en el Articulo N° 24 - inciso “C” se reformula, quedando como un requisito académico optativo. Por lo tanto el programa de becas estratégicas Manuel Belgrano dispuso de forma excepcional, el reconocimiento de una materia cuatrimestral finalizada, a todos aquellos becarios/as que opten por realizar la certificación de las 5 hs semanales durante el año 2023. Por ejemplo, si para renovar solicitan 4 materias cuatrimestrales finalizadas, el beneficiario/a que haya certificado las 5 hs semanales durante el año en curso, solo deberá finalizar 3 materias cuatrimestrales durante el año 2023.

Para certificar el cumplimiento de las 5 horas semanales el/la beneficiario/a debe realizar actividades académicas, tales como investigación, asistencia a la investigación, tutorías y/o mentorías, o actividades académicas de similar índole definidas y ofrecidas por su universidad.</p>
		</section>
		
		<section id="noticia" class="noticia">
			<h2>Renovación de convenio académico entre la Facultad de Ingeniería y el Municipio de la Ciudad Perico</h2>
			<p>En horas de la mañana del jueves 23 de mayo del presente año, la Facultad de Ingeniería de la UNJu realizó la firma del acta acuerdo de colaboración académica con la Municipalidad de la Ciudad de Perico en las oficinas de la intendencia.

El acuerdo contó con la presencia de las autoridades correspondientes de cada una de las entidades involucradas. Por parte del municipio, asistieron el Sr. Intendente Rolando Ficoseco; Javier Pelazzo, Director de Producción; Lic. Gabriela García Checa, Directora de Turismo; Javier Giubergia, Jefe de Gabinete; Martín Llanos, Secretario de Producción; Juan José Tapia, Director de Empleo; José Alberto Checa, Coordinador del Secundario N° 2; Rubén Velásquez, Coordinador de Género y Colectividad, entre otros invitados. Representando a la Facultad de Ingeniería, estuvieron presentes el Decano Ing. Luis Alejandro Vargas y la Esp. Ing. Delia Cristina Cruz, Coordinadora del Observatorio Tecnológico de la FI.</p>
		</section>
		
		<section class="carrera">
			<h2></h2>
		</section>
		</div>
		<aside class="adicional">
			<div>
				<a class="enlace" target="_blank" href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Bibloteca</a>
			</div>
			<div>
				<a class="enlace" target="_blank" href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario Academico</a>
			</div>
			<div>
				<a class="enlace" target="_blank" href="https://www.fi.unju.edu.ar/siu-guarani-alumnos">Siu Guarani</a>
			</div>
			
		</aside>
		
		<footer class="pie">
			<div id="infoContato" class="infoContato">
				<h3 class="contacto">Informacion de Contacto</h3>
				<p class="lugar">Italo Palanca Nº 10</p>
				<p class="provincia">San Salvador de Jujuy - Argentina</p>
				<a class="contacto" href="info@fi.unju.edu.ar">info@fi.unju.edu.ar</a>
				<p class="copy">Copyright &copy; 2014-2022 - Facultad de Ingeniería - UNJu</p>
			</div>
			
			<div class="redesSociales">
				<h3 class="redes">Redes Sociales</h3>
				<a class="redes" href="https://www.facebook.com/fiunju/" >Facebook</a>
				<a class="redes" href="https://www.instagram.com/fiunju/" >Instagram</a>
				<a class="redes" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A" >YouTube</a>
			</div>
		</footer>
		
	</body>
</html>